/*
 * Copyright (c) 2017, embedjournal.com
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	model = "STM32 Minimum Development Board (Blue)";
	compatible = "stm32_min_dev_blue", "st,stm32f103c8";
	
    chosen {
        zephyr,canbus = &can1;
		zephyr,spi = &spi2;
    };
        
	leds {
		led: led {
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
		};
		gpio_cs: gpio_cs {
			gpios = <&gpiob 7  GPIO_ACTIVE_LOW>;
			label = "GPIO_CS";
		};
	};
	
	gpio_keys {
		compatible = "gpio-keys";
		switchSoC: button {
			label = "SW SoC";
			gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
		};
		switchVolt: button2 {
			label = "SW Voltage";
			gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
		};
	};	
	
	aliases {
		sw0 = &switchSoC;
		sw1 = &switchVolt;
		cs = &gpio_cs;
	};
};

/*
&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};
*/

&can1 {
        pinctrl-0 = <&can_rx_remap1_pb8 &can_tx_remap1_pb9>;
        pinctrl-names = "default";
        status = "okay";
};

&spi2 {
	pinctrl-0 = <&spi2_nss_master_pb12 &spi2_sck_master_pb13
		     &spi2_miso_master_pb14 &spi2_mosi_master_pb15>;
	pinctrl-names = "default";
	status = "okay";
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};
